@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    display: flex;
    justify-content: center;
    /* background-color: rgb(164, 231, 225); */
    background-color: rgb(31, 24, 35);
    color: white;
    font-family: system-ui, sans-serif;
}

h1 {
    font-family: 'Righteous', system-ui, sans-serif;
}


.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: max-content;
}

.table-container h1 {
    width: 100%;
    text-align: justify;
    text-align-last: justify;
    margin: 0;
    padding: 0;
}

/* .table-container h1::after{ /* hack added for Safari */
/*     content: "";
    display: inline-block;
    width: 100%;
}
 */


#search-and-pages {
    /* flex: 1; */
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: left;
}

table {
    border-collapse: separate; /* Allows border-spacing to work */
    border-spacing: 5px 25px;  /* Space between columns (10px) and rows (5px) */
    max-width: max-content;
    background-color: rgba(29, 26, 26, 0.859);
    padding: 10px;
}

td {
    word-wrap: break-word;
}

/* column widths */
th:nth-child(1) { width: 50px; }
th:nth-child(2) { width: 100px; }
th:nth-child(3) { width: 130px; }
th:nth-child(4) { width: 150px; }
th:nth-child(5) { width: 80px; }
th:nth-child(6) { width: 60px; }
th:nth-child(7) { width: 110px; }
th:nth-child(8) { width: 100px; }
th:nth-child(9) { width: 200px; }
th:nth-child(10) { width: 70px; }